@{
    ViewData["Title"]="Login - Administração de Clientes";
}

<div class="text-left">
    <h1 class="display-4">Login</h1>

    <div id="fUser">
        <label for="name">:Usuário</label>
        <input type="text" id="username" placeholder="username0102" required="required" name="username" />
    </div>
    <div id="fPass">
        <label for="name">:Senha</label>
        <input type="text" id="pass" placeholder="senha123" required="required" name="pass" />
    </div>
</div>
